<center>
<div background="assets/images/gallery/back.jpg.gif">
    <h3 style="color:blue">Welcome To CCTV-LIVE</h3>
    <div>
        <a href="?r=login/login">登录</a>
        <a href="?r=login/register">注册</a>
    </div>
    <video id="myVideo" width="720" height="340" controls autobuffer>
            <source src="assets/images/gallery/text.mp4" type="video/mp4">
    </video><br />
    <img src="assets/images/gallery/1.jpg" alt="" width="400px" height="400px" />
    <img src="assets/images/gallery/2.jpg" alt="" width="400px" height="400px" />
 </div>
</center>

